<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haina.zcglxt.equipmentconsume.dao.EquipmentconsumeMapper">
  <resultMap id="BaseResultMap" type="com.haina.zcglxt.equipmentconsume.domain.Equipmentconsume">
    <result column="storageInCode" jdbcType="VARCHAR" property="storageincode" />
    <result column="storageDate" jdbcType="DATE" property="storagedate" />
    <result column="equipmentName" jdbcType="VARCHAR" property="equipmentname" />
    <result column="equipCode" jdbcType="VARCHAR" property="equipcode" />
    <result column="modelType" jdbcType="VARCHAR" property="modeltype" />
    <result column="specification" jdbcType="VARCHAR" property="specification" />
    <result column="singlePrice" jdbcType="DOUBLE" property="singleprice" />
    <result column="nationality" jdbcType="VARCHAR" property="nationality" />
    <result column="supplier" jdbcType="VARCHAR" property="supplier" />
    <result column="equipStatus" jdbcType="VARCHAR" property="equipstatus" />
    <result column="consumeOffice" jdbcType="VARCHAR" property="consumeoffice" />
    <result column="keepPlace" jdbcType="VARCHAR" property="keepplace" />
    <result column="useYearsLimit" jdbcType="INTEGER" property="useyearslimit" />
    <result column="euquipKeeper" jdbcType="VARCHAR" property="euquipkeeper" />
  </resultMap>
  </mapper>